.horizontal-nav .left-sidebar {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  background: transparent !important;
  box-shadow: unset;
}

.topbar .top-navbar {
  background: #7460ee;
}

.container-fluid.fluid-custom {
  padding: 5px;
}

.page-wrapper {
  height: calc(100vh - 110px);
}

.horizontal-nav .sidebar-nav #sidebarnav>li>ul {
  position: absolute;
  left: 0px;
  width: 220px;
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 1001;
  background: #edf0f5;
  display: none;
  padding-left: 1px;
}

.star {
  i {
    color: #ccc;
  }

  .active {
    color: #eda71f;
  }
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.text-highlight {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.d-flex.no-block {
  .align-self-center {
    align-self: unset !important;
  }
}

.custom-file {
  height: 100%;
}

.table-custom {
  tr {
    th {
      min-width: 100px;
    }

    .min-w-158 {
      min-width: 158px;
    }

    .min-w-120 {
      min-width: 150px;
    }
  }
}

.error {
  color: red;
}

.required-text {
  color: red;
}

.daily-font-size {
  font-size: 20px;
}

.option-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.nav-top-cus.flex-column {
  flex-direction: unset !important;
  margin-bottom: 20px;

  a.nav-link {
    display: inline-block;
    margin-right: 15px;

    &:hover {
      color: #fff;
      background: #745af2;
    }
  }
}

.collapse.in {
  display: block !important;
}

.menu-drop-bars {
  display: none;
}

.btn.btn-success.btn-sroll-mobile {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.min-w-200 {
  min-width: 200px !important;
}

.fr-box {
  padding-top: 85px;

  .fr-toolbar.fr-top {
    position: absolute;
    width: 100%;
  }
}



.daterangepicker-wrapper{
  position: relative;
  border: none;
}

.daterangepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  position: absolute;
  top: 44px;
  background: #fff;
}

.daterangepicker.always-open{
  top: 0;
  box-shadow: none;
}

.daterangepicker.open-right{
  right: 0;
}

.daterangepicker.open-left{
  left: 0;
}

.daterangepicker.open-center{
  right: -50%;
}

.daterangepicker.tooltip-chevron:before{
  content: '';
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  position: absolute;
  border-bottom-color: #aaa;
  top: -20px;
}

.daterangepicker.tooltip-chevron:after{
  content: '';
  height: 0px;
  width: 0px;
  border: 9px solid transparent;
  position: absolute;
  border-bottom-color: #fff;
  top: -18px;
}

.daterangepicker.open-left.tooltip-chevron:before{
  left: 10px;
}

.daterangepicker.open-left.tooltip-chevron:after{
  left: 11px;
}

.daterangepicker.open-right.tooltip-chevron:before{
  right: 10px;
}

.daterangepicker.open-right.tooltip-chevron:after{
  right: 11px;
}

.daterangepicker.open-center.tooltip-chevron:before{
  left: 50%
}

.daterangepicker.open-center.tooltip-chevron:after{
  left: 50%;
}

@media (min-width: 550px) {
  .daterangepicker {
      width: 550px;
  }
}

@media (max-width: 550px) {
  .daterangepicker {
      width: 270px;
  }
  .text-center .pull-right {
      float: none !important;
  }
  .col-md-6 {
      width: 100% !important;
  }
  .col-md-10 {
      width: 100% !important;
  }
  .ranges > div {
      display: none;
  }
}

.singledatepicker {
  width: 225px;
}

.daterangepicker {
  z-index: 3000;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 2px #ddd;
  border: 1px solid #aaa;
  padding: 10px;
}

.daterangepicker div[class*="col-md-"],
.daterangepicker span[class*="col-md-"] {
  padding: 0 15px 0 5px;
}

.hidden {
  display: none !important;
  visibility: false !important;
}

.daterangepicker .calendar {
  margin: 4px;
  float: left;
  border-radius: 4px !important;
  padding: 0 5px 0 5px;
}

.applyBtn {
  margin: 4px;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dialphone input {
	height: 44px;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #c7cace;
	border-radius: 4px;
	font-size: 18px;
}

.dialphone.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
}

.dialphone input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

.dialphone input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

.dialphone input::-webkit-input-placeholder {
	color: #bac2c7;
}

.dialphone input:-ms-input-placeholder {
	color: #bac2c7;
}

.dialphone input::-ms-input-placeholder {
	color: #bac2c7;
}

.dialphone input::placeholder {
	color: #bac2c7;
}

.dialphone input[disabled] {
	background-color: #e5eaf1;
}
