<div class="row">
  <div class="col col-md-3">
    <div class="card">
      <div class="card-body card-block">
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" [ngClass]="{active: tab == 'basic'}" (click)="changeTab('basic')">Basic Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'business'}" (click)="changeTab('business')">Business Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'social'}" (click)="changeTab('social')">Social Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'shipping'}" (click)="changeTab('shipping')">Shipping Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'notification'}" (click)="changeTab('notification')">Notification Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'bank'}" (click)="changeTab('bank')">Bank Info</a>

          <a class="nav-link" [ngClass]="{active: tab == 'coupon'}" (click)="changeTab('coupon')">Coupon Info</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body card-block">
        <div class="tab-content">
          <div class="shop-tab-block show active" *ngIf="tab === 'basic'">
            <shop-basic-info [shop]="shop"></shop-basic-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'business'">
            <shop-business-info [shop]="shop"></shop-business-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'social'">
            <shop-social-info [shop]="shop"></shop-social-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'shipping'">
            <shop-shipping-info [shop]="shop"></shop-shipping-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'notification'">
            <shop-notification-info [shop]="shop"></shop-notification-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'bank'">
            <shop-bank-info [shop]="shop"></shop-bank-info>
          </div>
          <div class="shop-tab-block" *ngIf="tab === 'coupon'">
            <shop-coupon-info [shop]="shop"></shop-coupon-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>