<div class="card">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Shop</th>
          <th>Approved/Paid</th>
          <th>Pending request</th>
          <th>Current COD balance</th>
          <th>Current Non-COD balance</th>
          <th>Current balance summary</th>
        </tr>
        <tr>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchFields.name" placeholder="search..." (keypress)="keyPress($event)" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-search" (click)="query()" type="button"></button>
              </div>
            </div>
          </th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shop of shops">
          <td>
            <a [routerLink]="['/shops/update', shop._id]">{{shop.name}}</a>
          </td>
          <td>
            <p>
              <strong>Shop earning</strong> {{shop.payout?.approved?.shopBalance | currency}} <br />
              <strong>Site earning</strong> {{shop.payout?.approved?.siteBalance | currency}} <br />
              <strong>Commission</strong> {{shop.payout?.approved?.commission | currency}} </p>
          </td>
          <td>
            <p>
              <strong>Shop earning</strong> {{shop.payout?.pending?.shopBalance | currency}} <br />
              <strong>Site earning</strong> {{shop.payout?.pending?.siteBalance | currency}} <br />
              <strong>Commission</strong> {{shop.payout?.pending?.commission | currency}} </p>
          </td>
          <td>
            <p>
              <strong>Total</strong> {{shop.balance?.cod?.total | currency}} <br />
              <strong>Commission</strong> {{shop.balance?.cod?.commission | currency}} <br />
              <strong>Shop earning</strong> {{shop.balance?.cod?.balance | currency}} </p>
          </td>
          <td>
            <p>
              <strong>Total</strong> {{shop.balance?.nonCod?.total | currency}} <br />
              <strong>Commission</strong> {{shop.balance?.nonCod?.commission | currency}} <br />
              <strong>Shop earning</strong> {{shop.balance?.nonCod?.balance | currency}} </p>
          </td>
          <td>
            <p>
              <strong>Site must pay</strong>
              <span *ngIf="shop.balance?.nonCod?.balance > shop.balance?.cod?.commission">
                {{shop.balance?.nonCod?.balance - shop.balance?.cod?.commission | currency}} </span>
              <span *ngIf="shop.balance?.nonCod?.balance <= shop.balance?.cod?.commission"> {{0 | currency}}</span>
            </p>
            <p>
              <strong>Shop must pay</strong>
              <span *ngIf="shop.balance?.cod?.commission > shop.balance?.nonCod?.balance">
                {{shop.balance?.cod?.commission - shop.balance?.nonCod?.balance | currency}} </span>
              <span *ngIf="shop.balance?.cod?.commission <= shop.balance?.nonCod?.balance"> {{0 | currency}}</span>
            </p>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" *ngIf="total > 10">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" (pageChange)="query()"></ngb-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
